APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

MPESA_ENV=sandbox
MPESA_CONSUMER_KEY=yAGlAGnluTG9yFBuVsVJy2VW6inHX02MgVAti6VZlr4abJDL
MPESA_CONSUMER_SECRET=YSy660UC2h16y0B3O3v9NRK4YsMivAA1AAXHAtQfxIizGdyPT552J1VLCeydCbC9
MPESA_SHORTCODE=174379
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_CALLBACK_URL=https://6590-102-222-4-116.ngrok-free.app/api/v1/payments/mpesa/callback
"J/JRdaAuTw9SAVFp/ZXhepCJVk0yyv9OtsTgb3jOlY3WuSWxgjJ4jbi/9GibFuy5+TH+RIUnboHxjq073FNxc+zizr2ToQleY5ajF5BN4rUw8zwrzwHLiCCnN80VQKfljN6c0zTFQ3+eHYariFBWU1MlRvbnDfvijGAgNDUA39q6kDrrHvQmCikHDBymghF4q6oAicxe/wwZ3URu6FLySBsvevvxR8UZu1FeyPOTH+tdoEzSkSU5puF88pisKgdrhBS3Q/0+gd1GedYGTgUWRahbD7j1ckCTScEmknyeb5nd8LDCbSBF37ibgKqCM2id87mUZJtFPjEwdapzhTFHsg=="
